@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", system-ui;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: normal;
    font-weight: 400;
    color: white;
    background-color: #282C34;
}

body,
main,
section {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}
.common-wrap {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    clear: both;
    width: 100%;
    height: 100%;
}

.inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    width: 100%;
    height: 100%;
}

.search_wrap {
    display: flex;
    flex-flow: column wrap;
    width: 35%;
}

.search_wrap input {
    padding: 20px 20px;
    border-radius: 100px;
    background-color: wheat;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

.card {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    background-color: #a4b3d3;
    padding: 60px 20px;
    border-radius: 10px;
}

.user_image_wrap {
    display: flex;
    flex-flow: column wrap;
    width: 33.3333%;
}

.user_image_wrap img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.user_details {
    display: flex;
    flex-flow: column wrap;
    row-gap: 20px;
    width: 66.66%;
}

.user_details_profile {
    display: flex;
    flex-flow: column wrap;
    row-gap: 5px;
}

.user_details_profile h1 {
    font-size: 30px;
    font-weight: 600;
}

.user_details_profile p {
    font-size: 18px;
    font-weight: 500;
}

.user_details_info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 20px;
}

.user_details_info span {
    font-size: 16px;
    font-weight: 500;
}

.user_details_github_info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 20px;
}

.user_details_github_info span {
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-width: 400px) {
    .card {
        padding: 20px 10px;
        width: 100%;
    }
    .user_image_wrap {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .user_image_wrap img {
        width: 100px;
        height: 100px;
    }
    .user_details {
        width: 100%;
    }
    .user_details {
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .user_details_profile {
        justify-content: center;
        align-items: center;
        row-gap: 2px;
    }
    .user_details_profile h1 {
        font-size: 24px;
    }
    .user_details_profile p {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
    .user_details_info {
        flex-flow: column wrap;
        column-gap: 5px;
    }
    .user_details_github_info {
        flex-flow: column wrap;
        row-gap: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .card {
        padding: 20px 10px;
        width: 100%;
    }
    .user_image_wrap {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .user_image_wrap img {
        width: 100px;
        height: 100px;
    }
    .user_details {
        width: 100%;
    }
    .user_details {
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .user_details_profile {
        justify-content: center;
        align-items: center;
    }
    .user_details_profile p {
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .card {
        padding: 20px 10px;
        width: 75%;
    }
}


